body{
    font-family: 'Poppins', sans-serif
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;    
}
.section-padding {
    padding: 100px 0;
}
.section-header {
    padding-bottom: 30px;
}
.navbar-brand{
    color: #fff !important;
    font-weight: bold;
    text-transform: uppercase;
}
.nav-area {
    background: #262626;
}
.navbar-nav .nav-link {
    color: #fff !important;
    font-weight: bold;
    padding-left: 0;
    padding-right: 0;
}
.nav-item {
    color: #fff;
    padding: 0 10px;
    text-transform: uppercase;
}

/* Slider Area */
.slider-area {
    -webkit-background-size: cover;
    background-image: url(../images/background.png);
    background-position: center center;
    background-size: cover;
    color: #fff;
    height: 100vh;
    position: relative;
}
.slider-area::before {
    background: linearGradient(360deg, #000, transparent);
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.slider-text h1{
    font-size:45px;
    font-weight: bold;
}
.slider-text a{
    background-color: #2980b9;
    color: #fff;
    display: inline-block;
    font-weight: bold;
    margin-top: 25px;
    padding: 10px 15px;
    text-decoration: none;
    text-transform: uppercase;
}
.slider-text {
    text-align: center;
    padding-top: 20%;
}

/* about area */

.about-img img {
    width: 100%
}
.item-text {
    padding-left: 15px;
}
.about-img {
    padding-right: 15px;
}
.item-text h4 {
    margin-bottom: 30px;
}

/* stats area */
.stats-area {
    -webkit-background-size: cover;
    background-attachment: fixed;
    background-image: url(../images/team1.png);
    background-position: center center;
    background-size: cover;
    position: relative;
    z-index: -1;
}
.stats-area::before{
    background: linearGradient(100deg, #000, transparent);
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}
.single-stats {
    color: #000;
    text-align: center;
}
.single-stats i {
    margin-bottom: 20px;
}
.single-stats h2 {
    font-size: 50px;
    font-weight: bold;
}
.single-stats p {
    font-family: 'Audiowide', cursive;
}

/* services area */
.services-area {
    text-align: center;
}
.single-service {
    border: 1px solid #ddd;
    margin-bottom: 15px;
    padding: 30px 20px;
}
.single-service h2 {
    font-size: 20px;
    font-weight: bold;
    margin: 15px 0;
    text-transform: uppercase;
}
.single-service:hover {
    background: #262626;
    color: #fff;
    transition: .6s;
}

/* Award Area */
.award-area{
    -webkit-background-size: cover;
    background-image: url(../images/team2.png);
    background-position: center center;
    background-size: cover;
    position: relative;
    text-align: center;
    z-index:-1;
}
.award-area::before {
    background: linear-gradient(90deg, #000, transparent);
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}
.single-award h2 {
    color: #fff;
    font-family: 'Audiowide', cursive;
    text-transform: uppercase;
}
.single-award a{
    background: #2980b9;
    border-radius: 50px;
    color: #fff;
    display: inline-block;
    margin-top: 25px;
    padding: 15px 30px;
    text-decoration: none;
    text-transform: uppercase;
}

/* Portfolio Area */

.single-work img {
    width: 100%;
}
.single-work{
    margin-bottom: 30px;
}
.portfolio-area .section-padding {
    padding-bottom: 30px;
}

/* Testimonial Area */
.testimonial-area {
    -webkit-background-size: cover;
    background-image: url(../images/team3.png);
    background-position: center center;
    background-size: cover;
    position: relative;
    z-index: 1;
}
.testimonial-area::before{
    background: rgba (0,0,0,0.9);
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}
.single-testi {
    text-align: center;
}
.img-area {
    /* border: 1px solid #fff; */
    border-radius: 50%;
    display: inline-block;
    height: 100px;
    overflow: hidden;
    width: 100px;
}
.img-area img {
    width: 100%;
}
.single-testi {
    border: 1px solid #fff;
    color: #fff;
    padding: 15px 40px;
    text-align: center;
}
.testimonial-area .section-header {
    color: #fff;
}
.single-testi h2 {
    font-family: 'Audiowide', cursive;
    font-size: 25px;
    margin: 15px 0;
}
/* footer-area */
.footer-area {
    background: #262626;
    color: #fff;
    padding: 30px 0;
    text-align: center;
}

/* responsive css */

@media only screen and (min-width: 768px) and (max-width: 991px){
    .section-header h2 {
        font-size: 35px;
        font-weight: bold;
    }
    .navbar-toggler-icon  i.fa{
        color: #fff;
    }
    .slider-text{
        padding-top: 70%;
    }
    .about-img{
        padding-right: 0;
        margin-bottom: 30px;
    }
    .item-text{
        padding-left: 0;
    }
    .single-stats h2 {
        font-size: 30px;
    }
    .single-stats p{
        font-size: 14px;
    }
    .single-testi{
        margin-bottom: 15px;
    }
}
@media only screen and (max-width: 767px){
    .section-header h2 {
        font-size: 22px;
        font-weight: bold;
    }
    .navbar-toggler-icon  i.fa{
        color: #fff;
    }
    .slider-text h1{
        font-size: 22px;
    }
    .slider-text{
        padding-top: 65%;
    }
    .slider-text h2{
        font-size: 20px;
    }
    .slider-text a{
        padding: 5px 10px;
        font-size: 14px;
    }
    .item-text{
        margin-top: 30px;
    }
    .item-text h4 {
        margin-bottom: 30px;
        font-size: 20px;
    }
    .about-img {
        padding-right: 0;      
    }
    .item-text{
        padding-left: 0;
    }
    .single-stats h2 {
        font-size: 30px;
    }
    .single-award h2{
        font-size: 18px;
        line-height: 35px;
    }
    .single-award a{
        padding: 5px 15px;
        font-size: 14px;
    }
    .single-testi{
        padding: 15px 10px;
        margin-bottom: 15px;
    }    
}